.header {
    background-color: rgb(255, 255, 255);
    cursor: default;
    position: fixed;
    top: 0px;
    transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;
    width: 100%;
}

.wrapper {
    align-items: stretch;
    display: flex;
    height: 60px;
    margin-top: 0;
    margin-left: 25px;
    max-width: 1320px;
    align-items: center;
}

.logo {
    padding: 16px;
}

.href {
    padding: 16px;
    cursor: pointer;
}

.btn {
    margin-left: 138%;
    background-color: rgb(23, 43, 77);
    color: white;
    font-size: 18px;
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    white-space: nowrap;
    letter-spacing: 0px;
}

.bg {
    background:  
        linear-gradient(60deg, 
        rgb(82, 67, 170), 
        rgb(237, 80, 180));
    height: 1000px;
}

.content {
    padding: 40px;
}

.text {
    margin-top: 100px;
    margin-left: 60px;
    width: 500px;
    color: white; 
    font-family: "Charlie Display",sans-serif;
    font-weight: 100;  
    font-size: 23px;
}

.footer {
    background-color: rgb(21 39 70);
    color:white;
    height: 100px;
}