.appWrapper {
    font-family: roboto, sans-serif;
    padding-top: 1px;
    margin: auto;
    display: grid;
    width: 100%;
    grid-template-areas:
        "header header header"
        "nav content content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.appContent {
    grid-area: content;
    background-color: rgb(189, 190, 158);
}